.user-avatar:hover {
  cursor: pointer;
}

.user-profile-menu {
  background: linear-gradient(to right, #434343, #000000);
}
.user-profile-menu li {
  color: #fff;
}

.user-profile-menu li:hover {
  background-color: rgba(139,199,255, 0.3) !important;
}