.comment-header {
  background-color: #2d2d2d;
  padding: 7px 15px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.user-name {
  color: #00aeef;
}

.comment-date {
  color: #888888;
  margin-left: 10px;
}

.comment-body {
  display: flex;
  padding: 15px;
  background-color: #242424;
}

.comment-text {
  color: #fff;
  margin-left: 25px;
}
