.movie-wrap {
  padding: 5px;
}

.poster-wrap {
  height: 225px;
  margin-bottom: 5px;
  overflow: hidden;
}

.poster-wrap img {
  width: 100%;
  height: 100%;
  transition: transform 0.1s linear;
}

.poster-wrap:hover img {
  transform: scale(1.1);
}

.title-wrap {
  background-color: #00aeef;
  height: 45px;
  padding-left: 3px;
  padding-right: 3px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre-line;
  word-break: break-all;
}

.title-wrap a {
  color: #fff;
}

.movie-released-wrap {
  background-color: #5252529c;
  display: flex;
  justify-content: space-between;
  padding: 3px;
  margin-top: 7px;
  margin-bottom: 10px;
}

.movie-released-wrap a {
  text-decoration: underline;
}

.movie-released-wrap span {
  color: #b5b0b0;
}
