
.custom-video-player-wrapp {
  display: flex;
}

.custom-control-panel-wrap {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 12px;
  left: 0;
  right: 0;
  padding: 0 10px
}

.custom-controls {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2)
}

.quality-change {
  margin: 0 15px;
  height: 18px;
  position: relative;
}

/* fullscreen button */
.fullscreen-button {
  display: flex;
  align-items: center
}

.fullscreen-button svg,
.quality-change svg {
  color: #157edf;
  width: 18px;
  height: 18px;
}

.fullscreen-button:hover svg,
.quality-change:hover svg {
  transform: scale(1.1);
  cursor: pointer
}

/* overlay quality */
.overlay-qality {
  display: block;
  position: absolute;
  top: -165px;
  left: -25px;
}

video::-webkit-media-controls-enclosure {
  display: none !important;
}

:-webkit-full-screen .custom-control-panel-wrap {
  width: 100%;
  margin: 0;
  bottom: 0px;
}

:-webkit-full-screen .video-wrapp {
  padding: 0px !important;
}


:-webkit-full-screen .custom-controls {
  z-index: 2147483647 !important;
}

:-webkit-full-screen .slider-duration {
  width: 81%;
}

:-webkit-full-screen .over-lay-qality {
  z-index: 2147483647;
}