.movie-type-wrap > div {
  background: #141e30;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243b55, #141e30);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243b55, #141e30);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 5px;
  display: flex;
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
}

.movie-type-wrap span {
  padding: 7px 30px;
  color: #fff;
  font-weight: 500;
}

.movie-type-wrap span:first-child {
  background: #141e30;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #141e30, #20334a);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #141e30, #20334a);
  border-radius: 5px;
  width: 165px;
}

.movie-type-wrap a {
  color: #fff;
  text-decoration: underline;
}
