.no-access-comments {
  display: flex;
  color: bisque;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 5px;
}
.no-access-comments i {
  font-size: 33px;
  margin-right: 10px;
}