video {
  width: 100%;
  height: 100%;
}

.video-wrapp {
  padding: 10px;
  width: 100%;
  height: 100%;
}

.play-button-wrapp {
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 555123;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #100e0e;
  align-items: center;
  justify-content: center;
}

.play-button-wrapp button {
  padding: 3px 50px;
  box-shadow: none;
  background-color: transparent;
  border: none;
}
.play-button-wrapp button i {
  font-size: 50px;
  color: bisque;
}
.play-button-wrapp button:hover {
  cursor: pointer;
}
.play-button-wrapp button:focus {
  outline: none;
}
