.video-player-header {
  background: linear-gradient(to right, #243b54, #373B44);
  color: #ffffff;
  padding: 8px 10px;
}

.bottom-line {
  background: linear-gradient(to right, #243B55, #141E30);
  height: 10px;
}

/* plot-block */

.plot-block-wrap {
  background: linear-gradient(to right, #434343, #1b2b40);
  padding: 15px 7px 25px 10px;
  color: #fff;
}
