.comment-button-wrapp {
  display: flex;
  justify-content: flex-end
}

.send-comment-button:first-child {
  margin-right: 15px;
  background-color: transparent;
  color: gray
}

.send-comment-button[disabled] {
  background-color: rgba(243, 244, 220, .3);
}

.send-comment-button {
  background-color: #00aeef;
  outline: none;
  border: none;
  color: black;
  font-weight: 500;
  padding: 5px;
  border-radius: 3px;
}

.send-comment-button:hover {
  box-shadow: none;
  cursor: pointer;
}

.comment-nickname-wrapp {
  display: flex;
  align-items: center
}
.save-nickname-switch:hover {
  box-shadow: none;
}

.comment-form-item {
  margin-bottom: 24px;
}