.table-content {
  background: #3a7bd5;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3a6073, #3a7bd5);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3a6073, #3a7bd5);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.continue-watch-table  {
  table-layout: fixed;
}
.continue-watch-table span,
.continue-watch-table td {
  color: #fff;
}

.continue-watch-table i:hover {
  cursor: pointer;
  transform: scale(1.1);
}